<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<style type="text/css">
		* {
			margin: 0;
			padding: 0;
		}
		
		td {
			text-align: center;
		}
	</style>

	<body>
		<table border="1" cellpadding="2" cellspacing="0" bordercolor="#999">
			<tr>
				<th>案例No.</th>
				<th>零件No.</th>
				<th>零件名称</th>
				<th>制造厂名称</th>
				<th>型式</th>
				<th>数量</th>
				<th>参考价格（单位：元）</th>
				<th>小计金额（单位：元）</th>
				<th>参考交货期</th>
				<th>表面处理</th>
				<th>材质</th>
				<th>热处理</th>
				<th>补充信息1</th>
				<th>补充信息2</th>
				<th>补充信息3</th>
				<th>补充信息4</th>
			</tr>
			<tr>
				<th>000288</th>
				<td>1</td>
				<td>薄型气缸</td>
				<td>MISUMI</td>
				<td>MSCCA16-10</td>
				<td>1</td>
				<td>确认价格</td>
				<td>确认价格</td>
				<td>第 1 天</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
			<tr>
				<th>000288</th>
				<td>2</td>
				<td>流速调速器</td>
				<td>MISUMI</td>
				<td>SPSNL6-M5</td>
				<td>2</td>
				<td>确认价格</td>
				<td>确认价格</td>
				<td>第 9 天</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
			<tr>
				<th>000288</th>
				<td>3</td>
				<td>气缸用传感器</td>
				<td>MISUMI</td>
				<td>ME33L1</td>
				<td>2</td>
				<td>确认价格</td>
				<td>确认价格</td>
				<td>第 9 天</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
			<tr>
				<th>000288</th>
				<td>4</td>
				<td>关节轴承</td>
				<td>MISUMI</td>
				<td>PHSC10A</td>
				<td>1</td>
				<td>确认价格</td>
				<td>确认价格</td>
				<td>第 1 天</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
			<tr>
				<th>000288</th>
				<td>5</td>
				<td>薄型气缸用安装金属件</td>
				<td>MISUMI</td>
				<td>CTKM25</td>
				<td>1</td>
				<td>确认价格</td>
				<td>确认价格</td>
				<td>第 9 天</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
			<tr>
				<th>000288</th>
				<td>6</td>
				<td>铰链座 单耳环型</td>
				<td>MISUMI</td>
				<td>HKTBM10-H30</td>
				<td>1</td>
				<td>确认价格</td>
				<td>确认价格</td>
				<td>第 11 天</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
			<tr>
				<th>000288</th>
				<td>7</td>
				<td>直线导轨</td>
				<td>MISUMI</td>
				<td>SEB16-70</td>
				<td>1</td>
				<td>确认价格</td>
				<td>确认价格</td>
				<td>第 1 天</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
			<tr>
				<th>000288</th>
				<td>8</td>
				<td>导向轴</td>
				<td>MISUMI</td>
				<td>PSFJT10-55-M5</td>
				<td>1</td>
				<td>确认价格</td>
				<td>确认价格</td>
				<td>第 3 天</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
			<tr>
				<th>000288</th>
				<td>9</td>
				<td>轴承固定座</td>
				<td>MISUMI</td>
				<td>BGRB6000ZZ-25</td>
				<td>1</td>
				<td>确认价格</td>
				<td>确认价格</td>
				<td>第 1 天</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
			<tr>
				<th>000288</th>
				<td>10</td>
				<td>固定环</td>
				<td>MISUMI</td>
				<td>PSCLSJ10-13</td>
				<td>1</td>
				<td>确认价格</td>
				<td>确认价格</td>
				<td>第 9 天</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
			<tr>
				<th>000288</th>
				<td>11</td>
				<td>轴承用调整环</td>
				<td>MISUMI</td>
				<td>CLBP10-14-15</td>
				<td>1</td>
				<td>确认价格</td>
				<td>确认价格</td>
				<td>第 3 天</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
			<tr>
				<th>000288</th>
				<td>12</td>
				<td>金属垫圈</td>
				<td>MISUMI</td>
				<td>WSSM20-5-2</td>
				<td>1</td>
				<td>确认价格</td>
				<td>确认价格</td>
				<td>第 1 天</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
			<tr>
				<th>000288</th>
				<td>13</td>
				<td>凸轮轴承随动器</td>
				<td>MISUMI</td>
				<td>CFFR5-13</td>
				<td>1</td>
				<td>确认价格</td>
				<td>确认价格</td>
				<td>第 1 天</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
			<tr>
				<th>000288</th>
				<td>14</td>
				<td>放大器内置型光电传感器(国内未销售)</td>
				<td>MISUMI</td>
				<td>MZ-R</td>
				<td>1</td>
				<td>确认价格</td>
				<td>确认价格</td>
				<td></td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
			<tr>
				<th>000288</th>
				<td>15</td>
				<td>定位销</td>
				<td>MISUMI</td>
				<td>MS5-15</td>
				<td>2</td>
				<td>确认价格</td>
				<td>确认价格</td>
				<td>第 1 天</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
			<tr>
				<th>000288</th>
				<td>16</td>
				<td>带垫圈内六角螺栓</td>
				<td>MISUMI</td>
				<td>CBST3-8</td>
				<td>2</td>
				<td>确认价格</td>
				<td>确认价格</td>
				<td>第 1 天</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
			<tr>
				<th>000288</th>
				<td>17</td>
				<td>带垫圈内六角螺栓</td>
				<td>MISUMI</td>
				<td>CBST3-12</td>
				<td>6</td>
				<td>确认价格</td>
				<td>确认价格</td>
				<td>第 1 天</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
			<tr>
				<th>000288</th>
				<td>18</td>
				<td>带垫圈内六角螺栓</td>
				<td>MISUMI</td>
				<td>CBST4-10</td>
				<td>2</td>
				<td>确认价格</td>
				<td>确认价格</td>
				<td>第 10 天</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
			<tr>
				<th>000288</th>
				<td>19</td>
				<td>带垫圈内六角螺栓</td>
				<td>MISUMI</td>
				<td>CBST5-15</td>
				<td>4</td>
				<td>确认价格</td>
				<td>确认价格</td>
				<td>第 1 天</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
			<tr>
				<th>000288</th>
				<td>20</td>
				<td>带垫圈内六角螺栓</td>
				<td>MISUMI</td>
				<td>CBST5-20</td>
				<td>4</td>
				<td>确认价格</td>
				<td>确认价格</td>
				<td>第 1 天</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
			<tr>
				<th>000288</th>
				<td>21</td>
				<td>带垫圈内六角螺栓</td>
				<td>MISUMI</td>
				<td>CBST6-15</td>
				<td>4</td>
				<td>确认价格</td>
				<td>确认价格</td>
				<td>第 1 天</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
			<tr>
				<th>000288</th>
				<td>22</td>
				<td>带垫圈内六角螺栓</td>
				<td>MISUMI</td>
				<td>CBST5-10</td>
				<td>2</td>
				<td>确认价格</td>
				<td>确认价格</td>
				<td>第 1 天</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
			<tr>
				<th>000288</th>
				<td>23</td>
				<td>带垫圈内六角螺栓</td>
				<td>MISUMI</td>
				<td>CBST5-12</td>
				<td>2</td>
				<td>确认价格</td>
				<td>确认价格</td>
				<td>第 1 天</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
			<tr>
				<th>000288</th>
				<td>201</td>
				<td>板1</td>
				<td>-</td>
				<td>-</td>
				<td>1</td>
				<td>确认价格</td>
				<td>确认价格</td>
				<td></td>
				<td>本色阳极氧化处理</td>
				<td>A6063</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
			<tr>
				<th>000288</th>
				<td>202</td>
				<td>板2</td>
				<td>-</td>
				<td>-</td>
				<td>1</td>
				<td>确认价格</td>
				<td>确认价格</td>
				<td></td>
				<td>本色阳极氧化处理</td>
				<td>A6063</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
			<tr>
				<th>000288</th>
				<td>203</td>
				<td>板3</td>
				<td>-</td>
				<td>-</td>
				<td>1</td>
				<td>确认价格</td>
				<td>确认价格</td>
				<td></td>
				<td>本色阳极氧化处理</td>
				<td>A6063</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
			<tr>
				<th>000288</th>
				<td>204</td>
				<td>加强筋</td>
				<td>-</td>
				<td>-</td>
				<td>1</td>
				<td>确认价格</td>
				<td>确认价格</td>
				<td></td>
				<td>本色阳极氧化处理</td>
				<td>A6063</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
			<tr>
				<th>000288</th>
				<td>205</td>
				<td>滑块</td>
				<td>-</td>
				<td>-</td>
				<td>1</td>
				<td>确认价格</td>
				<td>确认价格</td>
				<td></td>
				<td>本色阳极氧化处理</td>
				<td>A6063</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
			<tr>
				<th>000288</th>
				<td>206</td>
				<td>挡块</td>
				<td>-</td>
				<td>-</td>
				<td>1</td>
				<td>确认价格</td>
				<td>确认价格</td>
				<td></td>
				<td>本色阳极氧化处理</td>
				<td>A6063</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
			<tr>
				<th>000288</th>
				<td>207</td>
				<td>凸轮盘</td>
				<td>-</td>
				<td>-</td>
				<td>1</td>
				<td>确认价格</td>
				<td>确认价格</td>
				<td></td>
				<td>无电解镀镍</td>
				<td>SS400</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
			<tr>
				<th>000288</th>
				<td>208</td>
				<td>固定座</td>
				<td>-</td>
				<td>-</td>
				<td>1</td>
				<td>确认价格</td>
				<td>确认价格</td>
				<td></td>
				<td>无电解镀镍</td>
				<td>S45C</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
			<tr>
				<th>000288</th>
				<td>209</td>
				<td>传感器支架1</td>
				<td>-</td>
				<td>-</td>
				<td>1</td>
				<td>确认价格</td>
				<td>确认价格</td>
				<td></td>
				<td>无电解镀镍</td>
				<td>SPCC</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
			<tr>
				<th>000288</th>
				<td>210</td>
				<td>传感器支架2</td>
				<td>-</td>
				<td>-</td>
				<td>1</td>
				<td>确认价格</td>
				<td>确认价格</td>
				<td></td>
				<td>无电解镀镍</td>
				<td>SS400</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
			<tr>
				<th>000288</th>
				<td>211</td>
				<td>滑块</td>
				<td>-</td>
				<td>-</td>
				<td>1</td>
				<td>确认价格</td>
				<td>确认价格</td>
				<td></td>
				<td>本色阳极氧化处理</td>
				<td>A6063</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
		</table>
	</body>

</html>