<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<style type="text/css">
		* {
			margin: 0;
			padding: 0;
		}
		
		td {
			text-align: center;
		}
	</style>

	<body>
		<table border="1" cellpadding="2" cellspacing="0" bordercolor="#999">
			<tr>
				<th>案例No.</th>
				<th>零件No.</th>
				<th>零件名称</th>
				<th>制造厂名称</th>
				<th>型式</th>
				<th>数量</th>
				<th>参考价格（单位：元）</th>
				<th>小计金额（单位：元）</th>
				<th>参考交货期</th>
				<th>表面处理</th>
				<th>材质</th>
				<th>热处理</th>
				<th>补充信息1</th>
				<th>补充信息2</th>
				<th>补充信息3</th>
				<th>补充信息4</th>
			</tr>
			<tr>
				<th>000016</th>
				<td>1</td>
				<td>卧式肘夹</td>
				<td>MISUMI</td>
				<td>MC01-2B</td>
				<td>1</td>
				<td>确认价格</td>
				<td>确认价格</td>
				<td>第 1 天</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
			<tr>
				<th>000016</th>
				<td>2</td>
				<td>T型拉手</td>
				<td>MISUMI</td>
				<td>TSPF50-3</td>
				<td>1</td>
				<td>确认价格</td>
				<td>确认价格</td>
				<td>第 9 天</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
			<tr>
				<th>000016</th>
				<td>3</td>
				<td>拉伸弹簧用支柱</td>
				<td>MISUMI</td>
				<td>SAIPOZ3-15</td>
				<td>2</td>
				<td>确认价格</td>
				<td>确认价格</td>
				<td>第 1 天</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
			<tr>
				<th>000016</th>
				<td>4</td>
				<td>微型直线导轨</td>
				<td>MISUMI</td>
				<td>SEBZ10-75</td>
				<td>1</td>
				<td>确认价格</td>
				<td>确认价格</td>
				<td>第 1 天</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
			<tr>
				<th>000016</th>
				<td>5</td>
				<td>微型直线导轨</td>
				<td>MISUMI</td>
				<td>SEBZ10-95</td>
				<td>1</td>
				<td>确认价格</td>
				<td>确认价格</td>
				<td>第 1 天</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
			<tr>
				<th>000016</th>
				<td>6</td>
				<td>拉伸弹簧</td>
				<td>MISUMI</td>
				<td>AUY8-50</td>
				<td>1</td>
				<td>确认价格</td>
				<td>确认价格</td>
				<td>第 1 天</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
			<tr>
				<th>000016</th>
				<td>7</td>
				<td>探针座</td>
				<td>MISUMI</td>
				<td>NR90-C</td>
				<td>1</td>
				<td>确认价格</td>
				<td>确认价格</td>
				<td>第 1 天</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
			<tr>
				<th>000016</th>
				<td>8</td>
				<td>探针</td>
				<td>MISUMI</td>
				<td>NP90HD-C</td>
				<td>1</td>
				<td>确认价格</td>
				<td>确认价格</td>
				<td>第 9 天</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
			<tr>
				<th>000016</th>
				<td>9</td>
				<td>定位销</td>
				<td>MISUMI</td>
				<td>MS3-15</td>
				<td>6</td>
				<td>确认价格</td>
				<td>确认价格</td>
				<td>第 1 天</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
			<tr>
				<th>000016</th>
				<td>201</td>
				<td>底座</td>
				<td>-</td>
				<td>-</td>
				<td>1</td>
				<td>确认价格</td>
				<td>确认价格</td>
				<td></td>
				<td>-</td>
				<td>铝合金（A5052）</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
			<tr>
				<th>000016</th>
				<td>202</td>
				<td>工件台</td>
				<td>-</td>
				<td>-</td>
				<td>1</td>
				<td>确认价格</td>
				<td>确认价格</td>
				<td></td>
				<td>-</td>
				<td>POM(白色)</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
			<tr>
				<th>000016</th>
				<td>203</td>
				<td>挡块</td>
				<td>-</td>
				<td>-</td>
				<td>1</td>
				<td>确认价格</td>
				<td>确认价格</td>
				<td></td>
				<td>-</td>
				<td>POM(白色)</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
			<tr>
				<th>000016</th>
				<td>204</td>
				<td>固定台</td>
				<td>-</td>
				<td>-</td>
				<td>1</td>
				<td>确认价格</td>
				<td>确认价格</td>
				<td></td>
				<td>-</td>
				<td>铝合金（A5052）</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
			<tr>
				<th>000016</th>
				<td>205</td>
				<td>横向型移动板</td>
				<td>-</td>
				<td>-</td>
				<td>1</td>
				<td>确认价格</td>
				<td>确认价格</td>
				<td></td>
				<td>-</td>
				<td>铝合金（A5052）</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
			<tr>
				<th>000016</th>
				<td>206</td>
				<td>竖向板</td>
				<td>-</td>
				<td>-</td>
				<td>1</td>
				<td>确认价格</td>
				<td>确认价格</td>
				<td></td>
				<td>-</td>
				<td>铝合金（A5052）</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
			<tr>
				<th>000016</th>
				<td>207</td>
				<td>竖型移动板</td>
				<td>-</td>
				<td>-</td>
				<td>1</td>
				<td>确认价格</td>
				<td>确认价格</td>
				<td></td>
				<td>-</td>
				<td>铝合金（A5052）</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
			<tr>
				<th>000016</th>
				<td>208</td>
				<td>探针固定座</td>
				<td>-</td>
				<td>-</td>
				<td>1</td>
				<td>确认价格</td>
				<td>确认价格</td>
				<td></td>
				<td>-</td>
				<td>铝合金（A5052）</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
			<tr>
				<th>000016</th>
				<td>209</td>
				<td>工件支架</td>
				<td>-</td>
				<td>-</td>
				<td>1</td>
				<td>确认价格</td>
				<td>确认价格</td>
				<td></td>
				<td>-</td>
				<td>POM(白色)</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
			<tr>
				<th>000016</th>
				<td>210</td>
				<td>板</td>
				<td>-</td>
				<td>-</td>
				<td>1</td>
				<td>确认价格</td>
				<td>确认价格</td>
				<td></td>
				<td>-</td>
				<td>SUS304</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
		</table>
	</body>

</html>