		<div class="container">
		     <div class="page-title">
				<img src="../../../../public/static/front/images/icon3.png" class="page-title-img">
				<span class="page-title-txt">联系我们</span>
			</div>
			<h1 class="sub-title">
				<p>咨询电话</p>
			</h1>
			<div class="call-numble">
				<span><a href="tel:021-67108701"><span>021-6710-8701</a></span></span>
			</div>
			<div class="call-time">
				<span>受理时间：8:00～18:00<br />(周一～周六，不包括中国法定节假日)</span>
			</div>
			<div class="show-content">
				<h5 class="sub-title-infor"><span>语音快捷拨号一览</span></h5>
				<p class="world-infor-1">(<span>※</span>例:电话拨通后，按<strong>3</strong>再按<span><img src="../../../../public/static/front/images/contact/number-img.png"/></span>可直接接通FA工厂自动化)</p>
				<div class="show-infor">
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td class="oneL"><img src="../../../../public/static/front/images/contact/show-ico-1.png" /></td>
							<td class="space"></td>
							<td class="oneTW" valign="center">
								<span>询价及订购</span>
							</td>
							<td class="space"></td>
							<td class="oneTh" align="center">
								<span>请按</span><strong>1</strong>
							</td>
						</tr>
						<tr>
							<td class="space-h" colspan="5"></td>
						</tr>
						<!--2-->
						<tr>
							<td class="oneL"><img src="../../../../public/static/front/images/contact/show-ico-2.png" /></td>
							<td class="space"></td>
							<td class="oneTW" valign="center">
								<span>网站及WOS使用相关</span>
							</td>
							<td class="space"></td>
							<td class="oneTh" align="center">
								<span>请按<strong>2</strong></span>
							</td>
						</tr>
						<tr>
							<td class="space-h" colspan="5"></td>
						</tr>
						<!--3-->
						<tr>
							<td class="oneL-2"><img src="../../../../public/static/front/images/contact/show-ico-3.png" /></td>
							<td class="space"></td>
							<td class="oneTW oneTW-2" valign="top">
								<span>商品技术咨询</span>
								<p>工厂自动化零件</p>
								<p class="img-ico-2">电子&nbsp;·&nbsp;电气配线零部件</p>
								<p class="img-ico-3">刀具&nbsp;·&nbsp;工厂用品</p>
								<p class="img-ico-5">劳防&nbsp;·&nbsp;办公用品</p>
								<p class="img-ico-5">冲压模具</p>
								<p class="img-ico-6">塑料模具</p>
								<p class="img-ico-7">其他</p>
							</td>
							<td class="space"></td>
							<td class="oneTh" align="center" valign="center">
								<span>请按<strong>3</strong></span>
							</td>
						</tr>
						<tr>
							<td class="space-h" colspan="5"></td>
						</tr>
						<!--4-->
						<tr>
							<td class="oneL"><img src="../../../../public/static/front/images/contact/show-ico-4.png" /></td>
							<td class="space"></td>
							<td class="oneTW" valign="center">
								<span>新客户注册及目录申请</span>
							</td>
							<td class="space"></td>
							<td class="oneTh" align="center">
								<span>请按<strong>4</strong></span>
							</td>
						</tr>
						<tr>
							<td class="space-h" colspan="5"></td>
						</tr>
						<!--5-->
						<tr>
							<td class="oneL"><img src="../../../../public/static/front/images/contact/show-ico-5.png" /></td>
							<td class="space"></td>
							<td class="oneTW" valign="center">
								<span>发票财务</span>
							</td>
							<td class="space"></td>
							<td class="oneTh" align="center">
								<span>请按<strong>5</strong></span>
							</td>
						</tr>
						<tr>
							<td class="space-h" colspan="5"></td>
						</tr>
						<!--6-->
						<tr>
							<td class="oneL"><img src="../../../../public/static/front/images/contact/show-ico-6.png" /></td>
							<td class="space"></td>
							<td class="oneTW" valign="center">
								<span>其他业务</span>
							</td>
							<td class="space"></td>
							<td class="oneTh" align="center">
								<span>请按<strong>6</strong></span>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>